@model FileSharer.Web.Models.File.SearchViewModel
@using FileSharer.Web.Models.File

@{
    ViewData["Title"] = "Files list";
    var fileList = ViewData["Files"];
}

<h1 class="text-dark">Files</h1>

<form class="form-inline mb-md-3" method="post" asp-action="Search">
    <div class="form-group mx-md-3">
        <select class="form-control" asp-for="Category" asp-items=@(ViewData["Categories"] as SelectList)></select>
    </div>
    <div class="form-group mx-md-3">
        <input class="form-control" type="text" placeholder="Input file name..." asp-for="FileName" />
    </div>
    <div class="form-group mx-md-3">
        <button class="btn btn-success form-control" type="submit">Search</button>
    </div>
</form>

<p>
    <a class="btn btn-primary" asp-action="Upload">Upload my file</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Author
            </th>
            <th>
                Size(KB)
            </th>
            <th>
                DownloadsCount
            </th>
            <th>
                CreateDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var file in fileList as IEnumerable<FileViewModel>) {
        <tr>
            <td>
                @file.Name
            </td>
            <td>
                @file.Category
            </td>
            <td>
                @file.Author
            </td>
            <td>
                @file.Size
            </td>
            <td>
                @file.DownloadsCount
            </td>
            <td>
                @file.CreateDate.ToShortDateString()
            </td>
            <td>
                <a class="btn btn-outline-warning text-dark" asp-action="Edit" asp-route-id="@file.Id">Edit</a>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@file.Id">Details</a>
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-@file.Id">Delete</button>
                @await Html.PartialAsync("_ModalDeletePartial", new DeleteItemModel { Id = file.Id, Name = file.Name })
                <a href="#" class="btn btn-outline-primary rounded-circle">&#8659;</a>
            </td>
        </tr>
}
    </tbody>
</table>
